.heading {
  text-align: center;
  margin-top: 12%;
}

.column {
  float: left;
  width: 23%;
  padding: 0 10px;
}

h2 {
  padding: 0 20px;
}

.row {
  margin: 0 10px;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}
